# Environment variables
.env
.env.local
.env.*.local

# Foundry
contracts/out/
contracts/cache/
contracts/broadcast/
lib/
!pwa/frontend/lib/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Dependencies
node_modules/

# Build artifacts
dist/
build/

# chrome-extension
chrome-extension/

# docs
memory-bank-old/